[submodule "radioplayer-kt"]
	path = radioplayer-kt
	url = git@github.com:markst/radioplayer-kt.git
[submodule "expandable-player-kt"]
	path = expandable-player-kt
	url = https://github.com/markst/expandable-player-kt.git
